body{
    /* background-image: url("../images/cave.jpg") !important; */
    /* background-image: url("../images/minerals.jpg") !important; */
    background-color: #4AD4E1;
    background-repeat: repeat;
    background-position: center;
}
.title{
    text-align: center !important;
    background-color: white;
    color: #4AD4E1;
}

.gems{
    align-content: center !important;
}

.instructions{
    background-color: white;
    border: 2px solid #4AD4E1;
    padding-top: 5px;
    padding-bottom: 5px;
    list-style-type: square;
}
img {
    border: 5px solid transparent;
}

#gem1:hover{
    border-color: #188889;
}

#gem2:hover{
    border-color: #269369;
}

#gem3:hover{
    border-color: #e37329;
}

#gem4:hover{
    border-color: #c64f85;
}



/* .result{
    text-align: center !important;
} */